.holiday-box{
  width: 100vw;
  height: 100vh;
  background-color: #77DD77;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.noholiday-box{
  width: 100vw;
  height: 100vh;
  background-color: #FF6961;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box{
  text-align: center;
  
}

.box h2, h1{
    color:white;
  }

.svg{
  display: block;
  margin:auto;
  text-align:center;
  fill: white;
}

